.QuizPage {

  .rateQuiz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

    h4 {
      margin: 0;
      flex: 1;
      font-size: 75%;
      flex-basis: 100%;
      text-align: center;
    }

    button {
      background: transparent;
      color: var(--text-color);
      border-radius: 0 0 0 0;
      padding: 0.5rem 1rem;

      &:nth-child(2) {
        border-radius: 1.5rem 0 0 1.5rem;
      }

      &:last-child {
        border-radius: 0 1.5rem 1.5rem 0;
      }

      &:hover, &.selected:hover {
        color: var(--bg-color);
        background: var(--link-color);
      }

      &.selected {
        color: var(--link-color);
        background: var(--bg-color);
      }
    }
  }

  .prevNext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button[hidden] {
      display: block;
      visibility: hidden;
    }

    span {
      flex: 1;
      text-align: center;
    }
  }
}