:root {
    font-size: 20px;
    --bg-color: #fafafa;
    --sub-bg-color: #dcdcdc;
    --sub-sub-bg-color: #c8c8c8;
    --alt-bg-color: #505050;
    --alt-text-color: #fafafa;
    --alt-link-color: #62c0e6;
    --text-color: #202020;
    --light-text-color: #939393;
    --positive-color: #029600;
    --link-color: #34809f;
    --alert-color: #a62900;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0 0.5rem
}

::selection {
    background: var(--link-color);
    color: var(--bg-color);
}


/* each subpage's root */
article {
    max-width: 100%;
    width: 30rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0.5rem 2rem 0.5rem;

    &.narrow {
        width: 24rem;
    }
}

/* page title */
h1, h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
    word-break: break-word;
    hyphens: auto;
    justify-content: space-between;

    .flex { flex: 1; }
}

h1 { font-size: 200% }

/* links */
a, button.link {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
    background: transparent;
    border: none;
    padding: 0;

    &:not([disabled]):hover,
    &:hover {
        color: var(--text-color);
        background: transparent;
        text-decoration: underline;
    }

    &.active {
        font-weight: bold;
        text-decoration: none;
    }

    &.tab {
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        display: inline-block;

        &.active {
            background: var(--alt-bg-color);
            color: var(--alt-text-color);
        }
    }
}

/* boxes everywhere */
.box {
    padding: 1rem;
    background-color: var(--sub-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;

    p {
        margin: 0;
        & + p { margin-top: 1rem }
    }
}

/* buttons */
a.button,
button {
    font-size: 100%;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: var(--link-color);
    color: var(--alt-text-color);
    text-decoration: none;
    position: relative;
    top: 0;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 0.5rem;
    transition: background 0.2s, color 0.2s, top 0.2s ease-out, box-shadow 0.2s ease-out;

    &:not([disabled]):hover {
        text-decoration: none;
        top: -0.05rem;
        box-shadow: 0 0.1rem 1rem var(--shadow-color);
        background: var(--alt-bg-color);
        color: var(--alt-text-color);
    }

    &[disabled] {
        background: color-mix(in srgb, var(--text-color) 50%, var(--bg-color));
        cursor: default;
    }

    &.small {
        padding: 0.24rem 0.5rem;
        font-size: 0.75rem;
        white-space: nowrap;
        border-radius: 0.25rem;
        gap: 0.25rem;

        &:not([disabled]):hover {
            box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
        }
    }
}

/* lists */
ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    list-style: none;
}

/*  */
footer {
    font-size: 70%;
    padding: 0.5rem;
    text-align: right;
}